/*
 * Empty Stylesheet file.
 */

/*
 * Empty Stylesheet file.
 */

BorderPane.root {
    -fx-background-color: #0C1017;
}
.turn-bar {

    -fx-border-width: 0 0 1 0;
    -fx-pref-height: 60px;
    -fx-min-height: 60px;
    -fx-max-height: 60px;
}
.turn-label {
    -fx-text-fill: #E5E7EB;
    -fx-font-weight: bold;
/*    -fx-effect: dropshadow(gaussian, rgba(59,130,246,0.6), 12, 0.3, 0, 0);*/
    -fx-font-size: 28px;
}

.board-container {
    -fx-alignment: CENTER;

}
.board {
    -fx-padding: 20;

     -fx-background-color: transparent;
}
.cell {
    -fx-background-color: linear-gradient(to bottom right, #0B1220, #020617);
    -fx-background-radius: 16;
    -fx-border-radius: 16;
    -fx-border-color: rgba(255,255,255,0.08);
    
    -fx-pref-width: 110px;
    -fx-pref-height: 110px;
    
    
  
}
.cell:focused {
    -fx-background-insets: 0;
}

.cell:hover {
    -fx-border-color: #3B82F6;
}
.players-bar {

    -fx-border-color: rgba(255,255,255,0.08);
    -fx-border-width: 1 0 0 0;
    -fx-pref-height: 80px;
    -fx-min-height: 80px;
    -fx-max-height: 80px;
}
.player-box {
    -fx-background-color: rgba(255,255,255,0.04);
    -fx-padding: 8 ,14;
    -fx-background-radius: 16;
    -fx-min-height: 60px;
}
.symbol-badge {
    -fx-pref-width: 34;
    -fx-pref-height: 34;
    -fx-background-radius: 50;
    -fx-background-color: rgba(255,255,255,0.08);
}
.player-name {
    -fx-text-fill: #E5E7EB;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}
.player-score {
    -fx-text-fill: #9CA3AF;
    -fx-font-size: 12px;
}
.icon-x {
    -fx-text-fill: #3B82F6;
    -fx-font-weight: bold;
}
.icon-o {
    -fx-text-fill: #EF4444;
    -fx-font-weight: bold;
}
.avatar {
    -fx-background-radius: 50;
    -fx-background-color: rgba(255,255,255,0.12);
    -fx-alignment: center;
}