.root {
    -fx-background-color: linear-gradient(to bottom right, #1e3c72, #2a5298);
    -fx-font-family: "Segoe UI";
}

.title {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.text-field,
.password-field {
    -fx-pref-width: 260px;
    -fx-pref-height: 42px;
    -fx-background-radius: 8;
    -fx-border-radius: 8;
    -fx-font-size: 14px;
}

.primary-btn {
    -fx-background-color: #ff9800;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-pref-width: 260px;
    -fx-pref-height: 42px;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.primary-btn:hover {
    -fx-background-color: #ffa726;
}

.hyperlink {
    -fx-text-fill: white;
}

.error {
    -fx-text-fill: #ffcccc;
}
